name: Docker

on:
    push:
        branches: ["main"]
        tags: ["v*.*.*"]
    pull_request:

jobs:
    build-and-publish-docker-image:
        name: Build and Publish Docker Image
        uses: SE-UUlm/snowballr-ci/.github/workflows/docker.yml@feat/1-feature-add-initial-workflows
        permissions:
            contents: read
            packages: write
            attestations: write
            id-token: write
        with:
            default-branch: main
