name: Linting

on:
  pull_request:
  workflow_dispatch:

jobs:
  api-linting:
    name: Linting the API definition
    runs-on: ubuntu-latest
    container: yoheimuta/protolint:latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Run protolint
        run: protolint proto/*.proto
        